*{
    margin: 0;
    padding: 0;
}

#img_container{
    position: absolute;
    width: 400px;
    top: -13%;
}
main{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#toggle_button{
    border: 1px solid black;
    height: 150px;  
    width: 300px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    background-color: grey;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.623);}

    #toggle_button_circle{
    height: 100%;
    width: 50%;
    border: 1px solid black;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: inset 1em 1em 1em rgba(0, 0, 0, 0.336);
}
#toggle_text{
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 40px;
    color: black;
}
#lamp{
    position: absolute;
    margin: auto; 
    width: 100%;
    transform: rotate(180deg);
}
#key{
    width: 15vmax;
    position: absolute;
    right: 10px;
    top: 30%;
}
#hammer{
    width: 15vmax;
    position: absolute;
    right: 10px;
}

#explosion{
    width: 70%;
    display: none;
    position: relative;
    top: 200px;
}

